.container .title{
    color: #b8930c;
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0 1rem;
}

.title .query-text  {
    color: #f7d354;
}

.movies-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.movies-container div{
    width: 30%;
    color: #F0FFF0;
    margin-bottom: 2.5rem; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #111;
    padding: 1rem;
    border-radius: 4px;
}
.movies-container div img{
    max-width: 100%;
    border-radius: 4px;
}
.movies-container div img,
.movies-container div h2,
.movies-container div p{
    margin-bottom: 1rem;
}

.movies-container svg{
    color: #f7d354;
}
.movies-container div a {
    background-color: #f7d354;
    border: 2px solid #f7d354;
    border-radius: 4px;
    color: black;
    padding: 0.5rem 0.5rem;
    align-items: center;
    cursor: pointer;
    transition: .5s;
    text-align: center;
    font-weight: bold;
}

.movies-container div a:hover{
    background-color: transparent;
    color: #b8930c;
}
.container .title span{
    color: #F0FFF0;
}
